
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
*.sln
*.sln.meta
*.suo
*.csproj
*.csproj.meta
*.userprefs
*.unityproj
*.DS_Store

[Pp]rojectSettings/

/Assets/StreamingAssets/
/Assets/StreamingAssets*
/Assets/StreamingAssets.meta

/Assets/Lua/.buildpath
/Assets/Lua/.project
/Assets/Lua/.settings/
